<h1>Meet the team</h1>
<p>Contributors to this project were </p>
<ul>
  <% contributors = %w(kkoutoup johnv georgeb) %>
  <% contributors.each do |contributor| %>
  <li>
    <%= contributor =%>
  </li>
  <% end %>
</ul>