<h1><%= @album_info[0] %></h1>
<p>by <%= @album_info[1] %></p>
<p>Track List</p>
<ol>
  <% @tracks_info.each do |track| %>
    <li>
      <a href="/tracks/<%= track[0] %> ">
        <%= track[0] %>
      </a>
      </a>
    </li>
  <% end %>
</ol>
